#live2d-widget {
    position: fixed;
    right: 0px;
    bottom: -20px;
    width: 200px;
    height: 400px;
    z-index: 99999;
    opacity: 1;
    pointer-events: none;
}
#live2d-widget-dialog-container {
    transform: scale(0.8);
}
#live2d-widget-dialog {
    opacity: 1;
}
#live2dcanvas {
    position: absolute; left: 0px; top: 0px; width: 200px; height: 400px;
}
